.divPrincCertificados{
    color: var(--color-dark);
    text-align: center;
}

.titleCertificado{
    margin-top: 2rem;
}

.divPrincDivs {
    margin-top: 5rem; 
    margin-bottom: 10rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    box-sizing: border-box;
    gap: 2rem; 
}

.divPrincDivs .DivBox {
    background-color: var(--border-dark);
    width: 400px;
    padding: .5rem;
    height: 230px;
    text-align: center; 
    border-radius: 4px; 
}

.divPrincDivs div h1 {
    font-size: 1.2rem;
    color: var(--color-dark-active); /* Ajuste a cor do texto, se necessário */
    margin-top: 1rem;
}

.divHrsLingua{
    margin-top: 2rem;
    height: 18vh;
    border-radius: 2px;
    justify-content: space-around;
    color: var(--color-dark-active);
    display: flex;
}

.divHrsLingua div{
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
}

.divIconsLingua{
    font-size: 1.5rem !important;
}

@media (max-width: 630px){
    .DivBox{
        width: 330px;
    }
}