.notFound{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-dark);
    height: 100vh;
    letter-spacing: 3px;
    gap: 1rem;
}

.notFound img{
    width: 150px;
}

.voltar{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: var(--border-dark);
    width: 70px;
    border-bottom: 1.5px solid var(--border-dark);
}

.navbar_notfound{
    display: none;
}